#SNOWFLAKE

SF_HOST=
SF_PORT=443
SF_DATABASE=
SF_USER=
SF_PASSWORD=
SF_RAW_SCHEMA=RAW
SF_ANALYTICS_SCHEMA=ANALYTICS
SF_WAREHOUSE=
SF_ROLE=

#PROCESSING

SERVICES=yellow,green
START_YEAR=2015
END_YEAR=2025
MONTHS=1,2,3,4,5,6,7,8,9,10,11,12
RUN_ID=
VALIDATE_OUTLIERS=true

#SOURCES

YELLOW_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
GREEN_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
TAXI_ZONE_PATH=https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
