# Snowflake
SF_HOST=your-account.snowflakecomputing.com
SF_PORT=443
SF_DATABASE=DM_PSET3
SF_USER=
SF_PASSWORD=
SF_RAW_SCHEMA=RAW
SF_CURATED_SCHEMA=CURATED
SF_ANALYTICS_SCHEMA=ANALYTICS
SF_WAREHOUSE=COMPUTE_WH
SF_ROLE=ACCOUNTADMIN

# Processing
SERVICES=yellow,green
START_YEAR=2015
END_YEAR=2025
MONTHS=1,2,3,4,5,6,7,8,9,10,11,12
RUN_ID=20260405_01
VALIDATE_OUTLIERS=true
LOCAL_PARQUET_DIR=/tmp/nyc_taxi_tripdata
SPARK_JARS_DIR=/home/jovyan/jars

# Sources
YELLOW_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
GREEN_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
TAXI_ZONE_PATH=https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
