#SNOWFLAKE

SF_HOST=
SF_PORT=
SF_DATABASE=
SF_USER=
SF_PASSWORD=
SF_RAW_SCHEMA=raw
SF_ANALYTICS_SCHEMA=analytics
SF_WAREHOUSE=
SF_ROLE=

#PROCESSING

SERVICES=yellow.green
START_YEAR=2015
END_YEAR=2025
MONTHS=1,2,3,4,5,6,7,8,9,10,11,12
RUN_ID=
VALIDATE_OUTLIERS=true

#SOURCEs

YELLOW_BASE_URL=
GREEN_BASE_URL=
TAXI_ZONE_PATH=

